doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')

        title Home
    body
        ul
            li
                a(href='/home') Home

            li
                a(href='/flota') Flota

            li
                a(href='/admin') Administration
    h1 Flota
    div
        h1 #{dane[0].car_name}
        img(src=dane[0].image_link, alt=dane[0].car_name)
        p Typ: #{dane[0].car_type}
        p Klasa cenowa: #{dane[0].cost_class}
        p Cena za dzień: #{dane[0].price_per_day}
        p Klimatyzacja: #{dane[0].air_conditioning}
        p Ilość Siedzień: #{dane[0].number_of_seats}
        p Silnik: #{dane[0].engine_type}
        p Skrzynia biegów: #{dane[0].transmission}
        p Bluetooth: #{dane[0].bluetooth}


    div
        h1 #{dane[1].car_name}
        img(src=dane[1].image_link, alt=dane[1].car_name)
        p Typ: #{dane[1].car_type}
        p Klasa cenowa: #{dane[1].cost_class}
        p Cena za dzień: #{dane[1].price_per_day}
        p Klimatyzacja: #{dane[1].air_conditioning}
        p Ilość Siedzień: #{dane[1].number_of_seats}
        p Silnik: #{dane[1].engine_type}
        p Skrzynia biegów: #{dane[1].transmission}
        p Bluetooth: #{dane[1].bluetooth}
    div
        h1 #{dane[2].car_name}
        img(src=dane[2].image_link, alt=dane[2].car_name)
        p Typ: #{dane[2].car_type}
        p Klasa cenowa: #{dane[2].cost_class}
        p Cena za dzień: #{dane[2].price_per_day}
        p Klimatyzacja: #{dane[2].air_conditioning}
        p Ilość Siedzień: #{dane[2].number_of_seats}
        p Silnik: #{dane[2].engine_type}
        p Skrzynia biegów: #{dane[2].transmission}
        p Bluetooth: #{dane[2].bluetooth}

    div
        h1 #{dane[3].car_name}
        img(src=dane[3].image_link, alt=dane[3].car_name)
        p Typ: #{dane[3].car_type}
        p Klasa cenowa: #{dane[3].cost_class}
        p Cena za dzień: #{dane[3].price_per_day}
        p Klimatyzacja: #{dane[3].air_conditioning}
        p Ilość Siedzień: #{dane[3].number_of_seats}
        p Silnik: #{dane[3].engine_type}
        p Skrzynia biegów: #{dane[3].transmission}
        p Bluetooth: #{dane[3].bluetooth}

    div
        h1 #{dane[4].car_name}
        img(src=dane[4].image_link, alt=dane[4].car_name)
        p Typ: #{dane[4].car_type}
        p Klasa cenowa: #{dane[4].cost_class}
        p Cena za dzień: #{dane[4].price_per_day}
        p Klimatyzacja: #{dane[4].air_conditioning}
        p Ilość Siedzień: #{dane[4].number_of_seats}
        p Silnik: #{dane[4].engine_type}
        p Skrzynia biegów: #{dane[4].transmission}
        p Bluetooth: #{dane[4].bluetooth}

    div
        h1 #{dane[5].car_name}
        img(src=dane[5].image_link, alt=dane[5].car_name)
        p Typ: #{dane[5].car_type}
        p Klasa cenowa: #{dane[5].cost_class}
        p Cena za dzień: #{dane[5].price_per_day}
        p Klimatyzacja: #{dane[5].air_conditioning}
        p Ilość Siedzień: #{dane[5].number_of_seats}
        p Silnik: #{dane[5].engine_type}
        p Skrzynia biegów: #{dane[5].transmission}
        p Bluetooth: #{dane[5].bluetooth}

    div
        h1 #{dane[6].car_name}
        img(src=dane[6].image_link, alt=dane[6].car_name)
        p Typ: #{dane[6].car_type}
        p Klasa cenowa: #{dane[6].cost_class}
        p Cena za dzień: #{dane[6].price_per_day}
        p Klimatyzacja: #{dane[6].air_conditioning}
        p Ilość Siedzień: #{dane[6].number_of_seats}
        p Silnik: #{dane[6].engine_type}
        p Skrzynia biegów: #{dane[6].transmission}
        p Bluetooth: #{dane[6].bluetooth}
    div
        h1 #{dane[7].car_name}
        img(src=dane[7].image_link, alt=dane[7].car_name)
        p Typ: #{dane[7].car_type}
        p Klasa cenowa: #{dane[7].cost_class}
        p Cena za dzień: #{dane[7].price_per_day}
        p Klimatyzacja: #{dane[7].air_conditioning}
        p Ilość Siedzień: #{dane[7].number_of_seats}
        p Silnik: #{dane[7].engine_type}
        p Skrzynia biegów: #{dane[7].transmission}
        p Bluetooth: #{dane[7].bluetooth}

    div
        h1 #{dane[8].car_name}
        img(src=dane[8].image_link, alt=dane[8].car_name)
        p Typ: #{dane[8].car_type}
        p Klasa cenowa: #{dane[8].cost_class}
        p Cena za dzień: #{dane[8].price_per_day}
        p Klimatyzacja: #{dane[8].air_conditioning}
        p Ilość Siedzień: #{dane[8].number_of_seats}
        p Silnik: #{dane[8].engine_type}
        p Skrzynia biegów: #{dane[8].transmission}
        p Bluetooth: #{dane[8].bluetooth}

    div
        h1 #{dane[9].car_name}
        img(src=dane[9].image_link, alt=dane[9].car_name)
        p Typ: #{dane[9].car_type}
        p Klasa cenowa: #{dane[9].cost_class}
        p Cena za dzień: #{dane[9].price_per_day}
        p Klimatyzacja: #{dane[9].air_conditioning}
        p Ilość Siedzień: #{dane[9].number_of_seats}
        p Silnik: #{dane[9].engine_type}
        p Skrzynia biegów: #{dane[9].transmission}
        p Bluetooth: #{dane[9].bluetooth}

    div
        h1 #{dane[10].car_name}
        img(src=dane[10].image_link, alt=dane[10].car_name)
        p Typ: #{dane[10].car_type}
        p Klasa cenowa: #{dane[10].cost_class}
        p Cena za dzień: #{dane[10].price_per_day}
        p Klimatyzacja: #{dane[10].air_conditioning}
        p Ilość Siedzień: #{dane[10].number_of_seats}
        p Silnik: #{dane[10].engine_type}
        p Skrzynia biegów: #{dane[10].transmission}
        p Bluetooth: #{dane[10].bluetooth}









