doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')

        title Reserve
    body
        ul
            li
                a(href='/home') Home

            li
                a(href='/flota') Flota

            li
                a(href='/admin') Administration
            li
                a(href='/reserve') Reserve
    form(method='POST' action='/reserveResult')
        p Odbiór
        select(name='book_in_place' required)
            option(value='bialystok') Białystok
            option(value='bielsko_biala') Bielsko-Biała
            option(value='bydgoszcz') Bydgoszcz
            option(value='Bytom') Bytom
            option(value='gdansk') Gdańsk
            option(value='katowice') Katowice
            option(value='kielce') Kielce
            option(value='krakow') Kraków
            option(value='warszawa') Warszawa
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        input(type="date" name="book_in_date" required)
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        input(type="time" name="book_in_time" required)
        p Zwrot
        select(name='book_out_place' required)
            option(value='bialystok') Białystok
            option(value='bielsko_biala') Bielsko-Biała
            option(value='bydgoszcz') Bydgoszcz
            option(value='Bytom') Bytom
            option(value='gdansk') Gdańsk
            option(value='katowice') Katowice
            option(value='kielce') Kielce
            option(value='krakow') Kraków
            option(value='warszawa') Warszawa
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        input(type="date" name="book_out_date" required)
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        input(type="time" name="book_out_time" required)
        br
        br
        p Imię:
        input(type=text name="consumer_name" required)
        p Nazwisko
        input(type=text name="consumer_surname" required)
        p Numer dowodu osobistego
        input(type=text name="ID_card_number" required)
        p E-mail
        input(type=email name="consumer_email" required)
        p Telefon Kontaktowy
        input(type=number name="consumer_phone" required)
        p Wybrane auto
        select(name="chosen_car")
            option(value="fiat500") Fiat 500
            option(value="kia_picanto") Kia Picanto
            option(value="opel_corsa") Opel Corsa
            option(value="renault_clio") Renault Clio
            option(value="hyunday_i30") Hyunday i30
            option(value="kia_ceed") Kia Ceed
            option(value="mazda6") Mazda 6
            option(value="toyota_avensis") Toyota Avensis
            option(value="peugeot_partner") Peugeot Partner
            option(value="mercedes_glc") Mercedes GLC
            option(value="bmw_x4") BMW X4
        br
        br
        input(type="submit")

